@import "tailwindcss";

@font-face {
  font-family: "PlayReg";
  src: url("/fonts/Playwrite-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SilkBold";
  src: url("/fonts/Silkscreen-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

